@model List<Project_ecomm.Models.Order>


@{
    ViewBag.Title = "My Profile";
}

<div class="container mt-5">

    <h2 class="mb-4">My Profile</h2>

    @if (Model.Any())
    {
        var user = Model.First();

        <div class="card mb-4 p-3">
            <h5>User Details</h5>

            <p><strong>Name:</strong> @user.CustomerName</p>
            <p><strong>Email:</strong> @user.Email</p>
            <p><strong>Phone:</strong> @user.Phone</p>
            <a href="@Url.Action("EditProfile","Account")"
               class="btn btn-outline-warning">
                Edit Profile
            </a>
        </div>
    }



    <h2 class="mb-4">My Orders</h2>

    @if (!Model.Any())
    {
        <div class="alert alert-info">
            You have not placed any orders yet.
        </div>
    }
    else
    {
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Order ID</th>
                    <th>Date</th>
                    <th>Total</th>
                    <th>Details</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.Id</td>
                        <td>@order.OrderDate.ToString("dd MMM yyyy")</td>
                        <td>₹ @order.TotalAmount</td>
                        <td>
                            <a href="@Url.Action("OrderSuccessPage","Order", new { id = order.Id })"
                               class="btn btn-sm btn-dark">
                                View
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>
