@*@model PagedList.IPagedList<Project_ecomm.Models.Product>
@using PagedList.Mvc;*@

@{
    ViewBag.Title = "Our Collection";
}

@*<link href="~/Content/PagedList.css" rel="stylesheet" />*@

<link href="~/Content/CssFile/products.css" rel="stylesheet" />

<div class="container mt-4">


    <h2 class="page-title">Our Jewellery Collection</h2>


    <!-- Category Filter -->

    <div class="text-center mb-4">

        <a href="@Url.Action("Index","Products")" class="btn category-btn">All</a>

        <a href="@Url.Action("Index","Products", new {category="Bangles"})" class="btn category-btn">Bangles</a>

        <a href="@Url.Action("Index","Products", new {category="Earrings"})" class="btn category-btn">Earrings</a>

        <a href="@Url.Action("Index","Products", new {category="Necklace"})" class="btn category-btn">Necklace</a>

    </div>

    <div class="row">

        @foreach (var item in Model)
        {

            <div class="col-lg-4 col-md-6 mb-4">

                <div class="luxury-card">

                    <div class="image-box">

                        <span class="sale">Sale</span>

                        <div class="wishlist">❤</div>

                        <img src="@Url.Content(item.ImageUrl)" class="product-img" />

                    </div>

                    <div class="card-content">

                        <div class="product-name">
                            @item.Name
                        </div>

                        <div class="category">
                            @item.Category
                        </div>

                        <div class="price">
                            ₹ @item.Price
                        </div>

                        <a href="@Url.Action("Details","Products",
new { id=item.ProductId })"
                           class="btn view-btn">

                            View Details

                        </a>

                    </div>

                </div>

            </div>

        }

    </div>    <!-- PAGINATION -->

    @*<div class="text-center">

        @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page }))

    </div>*@

</div>